<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/info/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Telex" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>

<!--navbar-->
<section id="topNav">
<nav class="navbar navbar-light sticky-top">
    <div class="container justify-content-center">
        <ul class="row">
             <ul>
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </ul>
            <ul>
                <a class="nav-link" href="{% url 'admiral_island' %}">Admiral Island</a>
            </ul>
            <ul>
                <a class="nav-link" href="{% url 'port_owen' %}">Port Owen</a>
            </ul>
            <ul>
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </ul>
            <ul>
                <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
            </ul>
            <ul>
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </ul>
        </ul>
    </div>
</nav>
</section>

<!--body-->
<section id="contactForm">
<br>
<div class="row">
    <div class="col">
        <div class="container">
            <h5>Information:</h5>
            <br>
        </div>
        <br>
        <div class="container">
            <h6>Contact: Cheryl Sargent</h6>
            <h6>Cell: 083 569 3568</h6>
            <h6>Email: cheryl.sargent@infoprop.co.za</h6>
        </div>
    </div>
    <div class="col">
        <div class="container border-bottom border-secondary">
            <div class="col d-flex justify-content-center">
                <h5>We'd love to hear from you:</h5>
            </div>
             <div class="col d-flex justify-content-center">
                  <div class="card-body">
                      <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <div class="form-actions">
                      <button type="submit" class="btn btn-dafault" style="color:white">Send</button>
                      </div>
                      </form>
                  </div>
              </div>
    </div>
    </div>
    <div class="col">

    </div>
</div>
<br>
</section>

<!--Footer-->

<footer>
    <div class="container">
        <div class="row justify-content-center">
            <ul>
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </ul>
            <ul>
                <a class="nav-link" href="{% url 'admiral_island' %}">Admiral Island</a>
            </ul>
            <ul>
                <a class="nav-link" href="{% url 'port_owen' %}">Port Owen</a>
            </ul>
            <ul>
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </ul>
            <ul>
                <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
            </ul>
            <ul>
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>